{% load browser_back %}
{% load static %}
<!doctype html>
<link rel="stylesheet" href="{% static 'detail.css' %}">
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>ユーザー詳細情報</title>
</head>
<body>
    <h1>ユーザー詳細情報</h1>
      {% for object in objects %}
      <table>
  <tr>
    <th>氏名</th>
    <td>{{ object.last_name }} {{object.first_name}}</td>
  </tr>
  <tr>
    <th>生年月日</th>
    <td>{{ object.birthdate }}</td>
  </tr>
  <tr>
    <th>郵便番号</th>
    <td>{{ object.post_code }}</td>
  </tr>
  <tr>
    <th>住所</th>
    <td>{{ object.address }}{{ object.street_address }}</td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td>{{ object.email }}</td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td>{{ object.telephone_number }}</td>
  </tr>
  <tr>
    <th>銀行名</th>
    <td>{{ object.bank_name }}</td>
  </tr>
  <tr>
    <th>支店番号</th>
    <td>{{ object.branch_number }}</td>
  </tr>
  <tr>
    <th>口座番号</th>
    <td>{{ object.bank_account_number }}</td>
  </tr>
</table>
    <form action="{% url 'user_app:detail' user_id=object.id %}" method="post">
      {% csrf_token %}
  <fieldset>
<legend>権限を変更してください</legend>
    <div>
      {% if object.is_active %}
      <input type="radio" id="active1" name="is_active" value=True checked />
      {% else %}
      <input type="radio" id="active1" name="is_active" value=True />
      {% endif %}
      <label for="true">True</label>
      {% if object.is_active %}
      <input type="radio" id="active2" name="is_active" value=False />
      {% else %}
      <input type="radio" id="active2" name="is_active" value=False checked />
      {% endif %}
      <label for="false">False</label>
    </div>
    <div>
      <button type="submit">変更</button>
    </div>
  </fieldset>
</form>
      {% endfor %}
  </table>
  <p><a href="{% get_return_link request %}">戻る</a></p>
</body>

</html>
