{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>依頼情報一覧</title>
</head>
<body>
    <h1>依頼情報一覧</h1>
  <form action="/task-info/">
    <label for="site-search">Search the site:</label>
    <input type="search" id="site-search" name="q" />

    <button type="submit">Search</button>
  </form>
  <table>
    <thead>
      <tr>
        <th>依頼ID</th>
        <th>件名</th>
        <th>作成日時</th>
        <th>期限</th>
	<th>進行度</th>
	<th></th>
      </tr>
    </thead>
    <tbody>
      {% for object in objects %}
      <tr>
        <td>{{ object.id }}</td>
      	<td>{{ object.title }}</td>
        <td>{{ object.created_at }}</td>
        <td>{{ object.limit_of_time }}</td>
        {% if object.status == '0' %}
          <td>注文済み</td>
        {% elif object.status == '1' %}
          <td>配達中</td>
        {% elif object.status == '2' %}
          <td>承認待ち</td>
        {% elif object.status == '3' %}
          <td>再申請待ち</td>
	{% elif object.status == '4' %} 
          <td>配達完了</td>
        {% else %}
	  <td>キャンセル</td>
        {% endif %}
	<td>
          <a href="{% url 'task_app:detail' task_id=object.id %}">詳細</a>
          {% if object.client_id == null %}
            依頼人はまだ決まっていません
          {% else %}
            <a href="{% url 'user_app:detail' user_id=object.client_id %}">依頼人情報詳細</a>
	  {% endif %}
          {% if object.worker_id == null %}
            配達員はまだ決まっていません
          {% else %}
            <a href="{% url 'user_app:detail' user_id=object.worker_id %}">配達員情報詳細</a>
	  {% endif %}
          <a href="{% url 'transaction_app:detail' task_id=object.id %}">支払い情報確認</a>
          <a href="{% url 'task_app:delete' task_id=object.id %}">削除</a>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
    <p><a href="/mypage/">戻る</a></p>
</body>

</html>
